# compiled output
**/dist
**/node_modules
**/build
**/test
node-v*/

.vscode

# logs

#documentation
cheat_sheet_IOS_navigation.pages
prompt
*.xcuserstate
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
DerivedData/

## APP FLUTTER ##
# Flutter build outputs
./flutter*/build/
./flutter*/.dart_tool/
./flutter*/.flutter-plugins
./flutter*/.flutter-plugins-dependencies
./flutter*/.packages

# iOS
./flutter*/ios/Flutter/Flutter.framework
./flutter*/ios/Flutter/Flutter.podspec
./flutter*/ios/Pods/
./flutter*/ios/.symlinks/
./flutter*/ios/Flutter/Generated.xcconfig

# Android
./flutter*/android/.gradle/
./flutter*/android/app/build/
./flutter*/android/.idea/
./flutter*/android/local.properties

# IDE
./flutter*/.idea/
./flutter*/*.iml
./flutter*/.vscode/

# Logs & temp
./flutter*/*.log
./flutter*/.DS_Store

## APP IOS NATIVE ##
# Xcode
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/DerivedData/
*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings

# Build products
build/
DerivedData/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Swift Package Manager
/.build/
Packages/
.swiftpm/

# Logs
*.log
*.xcuserstate

# macOS
.DS_Store

/personnalDir