//
//  Development.xcconfig
//  music-room
//
//  Created by adrien on 08/08/2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// ========================================
// Config/Development.xcconfig
// ========================================

GOOGLE_CLIENT_ID = 734605703797-duvg1eiupfeva2njit9chbpq0bvmstke.apps.googleusercontent.com
// 734605703797-v6de8ju06pj8nj53d932t2t3isdiotu3.apps.googleusercontent.com //
GOOGLE_SCHEMA_IOS = com.googleusercontent.apps.734605703797-duvg1eiupfeva2njit9chbpq0bvmstke // com.googleusercontent.apps.734605703797-v6de8ju06pj8nj53d932t2t3isdiotu3 // 
FACEBOOK_APP_ID = 4511261049020068
DEEZER_APP_ID = 123456
API_BASE_URL_DEV=localhost:3000/api
