@import 'tailwindcss';
@import '@fontsource/fira-mono';
@import '@fontsource/bebas-neue';

@theme {
  --color-primary: #ffe2c1;
  --color-secondary: #F6A437;
  --color-accent: #dbd9f8;
  --font-family-main: 'Bebas Neue', sans-serif;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}